body {
text-align: center;
}
.label-attiva{
    transform: translateY(-14px) scale(0.8)!important;
    transform-origin: 0 0!important; 
}
.arrow{
    position: relative;
    top:5px;
}
th{
   cursor: pointer; 
}